body {
    background-image: url("brickWall.jpeg");
}

/* Heading */
h1 {
    color: #ff4500;
    font-size: 45px;
    text-shadow:
    0 0 7px rgb(3, 3, 3),
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bfd0e1,
    0 0 82px #ccd9e7,
    0 0 92px #d6e1ec,
    0 0 102px #dee7f0,
    0 0 151px #e5ecf3;
}

/* 3x3 Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid rgb(82, 79, 79);
    font-size: 30px;
    text-align: center;
}

/* Reset Button */
#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: dodgerblue;
    color: rgb(3, 3, 3);
    font-size: 20px;
    cursor: pointer;
}

/* Main Container */
#main {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Game instruction Text */
#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9bb5cf;
    font-size: 17px;
    text-shadow:
    0 0 7px rgb(3, 3, 3),
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bfd0e1,
    0 0 82px #ccd9e7,
    0 0 92px #d6e1ec,
    0 0 102px #dee7f0,
    0 0 151px #e5ecf3;
}